###############################################################################
#                          Generated on phpdocker.io                          #
###############################################################################
version: "3.7"
services:
    nginx:
      image: nginx:alpine
      volumes:
          - ./src:/application
          - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      ports:
       - "80:80"
      depends_on:
       - php
    php:
      build: ./php
      volumes:
       - ./src:/application
      depends_on:
       - mysql
    mysql:
      image: mysql:5.7
      volumes:
        - ./data:/var/lib/mysql
      environment:
        - MYSQL_ROOT_PASSWORD=example
        - MYSQL_DATABASE=blog
        - MYSQL_USER=root
        - MYSQL_PASSWORD=example
